.modal {
  padding-right: 30%;
}
.modal-footer {
  align-items: baseline;
  border-top: none;
}
.modal-content {
  flex-direction: unset;
}
.my-bg-primary {
  background-color: #40739e;
}

.bold {
  font-weight: 700;
}
.main {
  position: fixed;
  width: 100%;
  height: 75%;
  padding-right: 10%;
  padding-left: 10%;
}

.divider {
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 1px;
}

.div-transparent:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: #000000;
}

.div-dot:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -9px;
  left: calc(50% - 9px);
  width: 18px;
  height: 18px;
  background-color: #c4c4c4;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px white, 0 0 0 4px white;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.upload-btn-wrapper button:disabled,
button[disabled] .btn {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.link-instructions {
  text-decoration: none;
  font-size: 1rem;
  color: #000000;

  border: 1px solid #f2f2f2;
  text-shadow: 0px 4px 4px #000000;
}

.box-fileupload {
  background: #d3e7ff;
  width: 100%;
  height: 100%;
  padding: 50px;
  border: 3px dashed #8fd9ea;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.file-upload-input {
  display: none;
}
label.file-upload-btn {
  width: 182px;
  height: 120px;
  background-image: url("/src/images/uploadfile.png");
  background-size: cover;
  background-position: center center;
  background-origin: border-box;
  background-repeat: no-repeat;
}
.file-upload-wrapper-title {
  width: 92%;
  min-height: 50px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.file-upload-wrapper-title h4 {
  display: inline-block;
  font-size: 20px;
  padding: 10px 0px 6px 0;
  font-weight: 200;
}
.file-upload-wrapper-title hr {
  width: 21%;
  display: inline-block;
  margin: 6px 0;
}
.file-upload-wrapper-title__btn {
  background-color: #4099ff;
  border-color: #4099ff;
  border: none;
  padding: 12px 20px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
  border-radius: 2px;
}
.box-fileupload__label {
  font-size: 20px;
  margin: 10px 0;
  color: #1471ad;
}
.image-preview {
  display: block;
  width: 100%;
}
.image-preview__delete-btn {
  width: 25px;
  height: 25px;
  background: #000000ab;
  color: #fff;
  border-radius: 28px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  left: 15px;
  cursor: pointer;
  z-index: 2;
}
.image-preview__delete-btn::before,
.image-preview__delete-btn::after {
  content: "";
  display: block;
  width: 56%;
  height: 2px;
  background: #fff;
  position: absolute;
}
.image-preview__delete-btn::after {
  transform: rotate(43deg);
}
.image-preview__delete-btn::before {
  transform: rotate(-40deg);
}
